@import "../../vars.css";

.container{
    margin-top: 350px;
    position: relative;
    
}

.titleContainer{
    
    display: flex;
    width: 100%;
    align-items: center;
}

.h1{
    font-size: 50px;
    font-weight: 800;
}

.greenDot{
    color: var(--color-green);
}

.horizontalLine {
    flex: 1;
    height: 1px;
    background-color: #ffffff;
    margin-right: 20px;
  }

.projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 60px;
    column-gap: 40px;
}