@import "../../vars.css";

.container{
    margin-top: 350px;
    position: relative;
}

.aboutContainer{
    display: flex;
    width: 100%;
    align-items: center;
}

.h1{
    font-size: 50px;
    font-weight: 800;
}

.greenDot{
    color: var(--color-green);
}

.horizontalLine {
    flex: 1;
    height: 1px;
    background-color: #ffffff;
    margin-left: 20px;
  }


  .about {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }

  .aboutLeft{
    flex: 1;
    margin-right: 60px;
  }

  .aboutDescription{
    font-size: 16px;
    line-height: 1.5;
    font-weight: 200;
  }

  .myLinks{
    display: flex;
    align-items: center;
    padding-top: 25px;
    
  }

  .myLinksText{
    color: var(--color-green);
    font-size: 16px;
    font-weight: 400;
  }

  .arrow{
    height: 0.8em; /* Make the arrow height match the text */
    width: auto;
    padding-left: 6px;
  }

  .iconList {
    display: flex;
    align-items: center;
    margin-left: 12px;
  }
  
  .iconButton {
    margin-top: 7px;
    cursor: pointer;
    width: 20px;
    margin-right: 12px; 
  }

  .aboutRight{
    width: 300px;
  }

  .mySkillsHeading{
    display: flex;
    flex-direction: row;
  }

  .mySkillsHeadingText{
    margin-left: 10px;
  }

  .skills{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }

  .skill{
    border-radius: 100px;
    background: var(--color-light-grey);
    padding: 2px 10px;
    font-size: 16px;
    font-weight: 300;
    list-style: none;
  }