@import "../../vars.css";

.container {
  position: fixed;
  padding: 16px 30px; /* Adjust padding to match button positioning */
  z-index: 2;
  width: 100%;
  background: rgba(20, 20, 20, 0.3);
  backdrop-filter: blur(7px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.iconList {
  display: flex;
  margin-left: 20px; /* This plus the container's padding will make it 50px from left */
}

.iconButton {
  cursor: pointer;
  width: 20px;
  margin-right: 15px; /* Add some space between icons */
}

.button {
  padding: 10px 20px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 5px;
  background-color: transparent;
  position: relative;
  border: 1px solid var(--color-green);
}

.buttonText{
  position: relative;
  z-index: 10;
  pointer-events: none;
  font-size: 16px;
  color: var(--color-green);
  mix-blend-mode: difference;
}

.hoverEffect{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  pointer-events: none;
  height: 250px;
  width: 250px;
  border-radius: 9999px;
  background: radial-gradient(
    circle at center,
    rgba(47, 225, 154, 0.18) 0%,
    rgba(47, 225, 154, 0) 70%
  );
}