@import "./vars.css";

.App {
    background-color: var(--color-bg);
    width: 100;
    height: fit-content;
    
}

.App ::selection {
    color: black;
    background: var(--color-green);
  }

  .App ::-moz-selection {
    color: black;
    background: var(--color-green);
  }

.container{
    max-width: 950px;
    margin-left: 25%;
    margin-right: 15%;
}